extends layout

block styles
    link(rel="stylesheet" type="text/css" href="../css/landing.css")

block main
    .container
        p#splashtext Forget your Notes because you can.
        p#splashmessage.
            Ideas change. Paper gets lost.
            Tasks need to be done anyway.
        a.blue-btn(href="sign up") sign up
        img#background(src="assets/img/background-note3.png")