extends layout

block styles
    link(rel="stylesheet" type="text/css" href="../css/landing.css")

block main
    section(class="container")
        h1  Be more productive
        p.
            "What to do" is an easy to use to-do application, designed for
            individual or colaborativ use.
        div(class="section-features")
            div(class="features lists")
                p.
                    Todos can be grouped into lists in order to sort them.
                    You want to have seperate lists for work, home and shopping
                    or a project is around the corner? Sort your task to be able 
                    to focus on what matters for you right now.
                a( href="/welcome" class="btn" ) learn more
            div(class="features share")
                p.
                    List and single todos can be shared with other contributors.
                    Have a shopping list for your partner or organize the next
                    gathering and assign task in order to never lose oversight
                    again.
                a( href="/welcome" class="btn" ) learn more
            div(class="features multimedia")
                p.
                    Todos can have images, text and recordings added to them.
                    Sometimes a picture can tell more then a thousand words.
                    We enable you to use whatever you need to be as effective
                    as you wish to be.
                a( href="/welcome" class="btn" ) learn more 

block scripts
    script( scr='../vue.js')
