extends layout

block styles
    link(rel="stylesheet" type="text/css" href="../css/login.css")

block main
    .container
        .textbox
            input(type='password', placeholder='Password')
        .textbox
            input(type='email', placeholder='Email')
        a.blue-btn(href="home")  sign in