extends layout

block styles
    link(rel="stylesheet" type="text/css" href="../css/login.css")

block main
    #boarder
        h1 Login
        #credentials
            .textbox
                input(type='email', placeholder='Email')
            .textbox
                input(type='password', placeholder='Password')
        a.blue-btn(href="home") sign in
        a.black-link#spaced(href="home") sign up