extends layout

block styles
    link(rel="stylesheet" type="text/css" href="../css/login.css")

block main
    #boarder
        h1 register
        #credentials
            p=messages.error
            form(action="api/register", method="post")
                .textbox
                    input(type='username', id="username", name="username" placeholder='Username' required)
                .textbox
                    input(type='password', id="password", name="password" placeholder='Password' required)
                button.blue-btn(type="submit") register
                a.black-link#spaced(href="login") sign in