extends layout

block styles
  link( rel="stylesheet" type="text/css" href="../css/welcome.css" )

block main
  h1 {{ h1 }}
  p Date.now(): {{ time }}
  p=title

block scripts
  script( src="../vue.js" )
  script( src="../js/welcome.js" type="module" )
