body {
  min-height: 100vh;
  margin: 0;
}

#header {
  background: #ffcb5c;
}

/* containers */
#main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 30px 0;
}

/* lists */
#lists-list {
  display: flex;
  justify-content: center;
}
#lists-list .list {
  display: inline-block;
  padding: 5px 5px;
  margin: 4px 4px 10px 0;
}
#lists-list .list-name {
  font-size: 12px;
  width: 70px;
}

input[type="color"] {
    border-radius: 100%;
    height: 14px;
    width: 14px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

#plus {
  visibility: hidden;
}

/* new todo box */
.new-todo {
  margin: 0 0 -17px 0;
  border: 1px solid #d4d4d4;
  padding: 15px 60px;
}
.new-todo::placeholder {
  color: #d4d4d4;
}

/* list of todos box */
#todo-list {
  display: flex;
  flex-direction: column;

  padding-left: 0;
  border: 1px solid #d4d4d4;
}

input[type="text"] {
  font-size: 32px;
  outline: none;
  background: transparent
}

button, input[type="checkbox"] {
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 12px 17px 12px 20px;
}
.edit {
  border: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0 15px 0 0;
}

button.destroy {
  border: none;
  outline: none;
  background: transparent;
  opacity: 0.25;
  padding-right: 0;
}

.todo.completed .edit {
  color: #d4d4d4;
  text-decoration: line-through;
}

/* todo count box */
#todo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: -17px;
  border: 1px solid #d4d4d4;
}
#todo-footer p {
  margin: 15px 20px;
}
.clear-completed {
  border: none;
  height: 30px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 10px;
}
