 body {
  min-height: 100vh;
  margin: 0;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
  
.btn{
  background-color: rgb(180, 180, 180);
  border-radius: 2rem;
  color: rgb(27, 27, 27);
  margin-top: 2rem;
  padding: 0rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms;
  position: absolute;
  right: 30px;
  bottom: -20px;
}

img{
  height: 30px;
  margin-left: 2.5rem;
  margin-right: 1rem;
  opacity: 30%;
}

#logo{
  display: none;
}

#logo.landing{
  display: block;
  font-size: 6rem;
  text-align: center;
}

.btn:hover{
  background-color: rgb(128, 128, 128);
}

.inline-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center{
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
}

.section-features{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.features{ 
  padding: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: rgb(27, 27, 27);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  border-radius: .5rem;
  box-shadow: 5px 10px 10px gray;
}

.lists{
  background-image: linear-gradient(120deg, rgba(255, 110, 105, 0.5), rgb(255,111,105));
}

.share{
  background-image: linear-gradient(120deg, rgba(255, 203, 92, 0.5), rgb(255,204,92));
}

.multimedia{
  background-image: linear-gradient(120deg, rgba(136, 216, 176, 0.5), rgb(136,216,176));
}