 body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/assets/img/background-note.png"), linear-gradient(0, #ffffff2c, #ffffff2d), url("/assets/img/grid-texture.jpg");
  background-size: cover;
  background-position: center;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
  
#splashtext{
  font-family: Varela;
  font-size: 5rem;
}

#splashmessage{
  font-size: 2rem;
  max-width: 30rem;
  margin-bottom: 2rem;
}


