/*
scss variables:

// Basic colors
$white: #F5F7FA;
$black: #333;
$green: #3BECAB;
$blue: #15B7E4;
$yellow: #FFC93C;
$red: #FC3A52;

//Fonts
$f-text: "Open Sans", Arial;
$f-headline: "Lato", "Open Sans", Arial;

// Font sizes
$fs-text: 16px;
$fs-headline: 1.55rem;
$fs-small: 0.65rem
*/

html {
  font-size: 16px;
  font-family: "Open Sans", Arial;
  color: #333;
}

h1 {
  font-size: 1.55rem;
  font-family: "Lato", "Open Sans", Arial;
}

body {
  display: grid;
  grid-template-columns: 6vw auto 6vw;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header header"
    ". content ."
    ". footer .";
  min-height: 100vh;
  margin: 0;
}

#main {
  grid-area: content;
}

/* header */
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 25px;
}

/* footer */
#footer {
  grid-area: footer;
}

a.footer-link {
  border-bottom: 1px #333 solid;
  color: #333;
  text-decoration: none;
}
a.footer-link:hover {
  color: #15B7E4;
  border-bottom-color: transparent;
}
#footer-hr {
  width: 60vw;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #333, rgba(0, 0, 0, 0));
}

/* util */
.horizontal-center {
  display: flex;
  justify-content: center;
}
